@font-face {
  font-family: 'heading';
  src: url(./fonts/wargames.regular.ttf);
}
@font-face {
  font-family: 'text';
  src: url(./fonts/bitgamefont.bit-game-font.ttf);
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
:root {
  --bg: #000050;
  --main: #00ff40b3;
  --font: #d3d3d3;

  --gap-base: 0.5rem;
}
body {
  -webkit-tap-highlight-color: transparent;
  text-wrap: pretty;
  background-color: var(--bg);
  background-image:
    radial-gradient(
      circle,
      transparent 30%,
      rgba(0, 255, 65, 0.3) 31%,
      transparent 32%
    ),
    radial-gradient(
      circle,
      transparent 50%,
      rgba(0, 255, 65, 0.3) 51%,
      transparent 52%
    ),
    radial-gradient(
      circle,
      transparent 70%,
      rgba(0, 255, 65, 0.3) 81%,
      transparent 72%
    ),
    linear-gradient(
      90deg,
      transparent 49.5%,
      rgba(0, 255, 65, 0.3) 50%,
      transparent 50.5%
    ),
    linear-gradient(
      0deg,
      transparent 49.5%,
      rgba(0, 255, 65, 0.3) 50%,
      transparent 50.5%
    );
  min-height: 100svh;
  color: var(--font);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--font);
  padding: var(--gap-base);
  font-family: 'text';
  font-size: 1.5rem;
  font-weight: bold;
}
h1 {
  font-family: 'heading';
  font-weight: lighter;
  font-size: 2.8rem;
  color: var(--main);
}
a {
  align-self: flex-end;
  text-decoration: none;
  color: inherit;
  font-family: system-ui, sans-serif;
  font-size: 0.8rem;
}
