@font-face {
  font-family: 'heading';
  src: url(./fonts/wargames.regular.ttf);
}
@font-face {
  font-family: 'text';
  src: url(./fonts/bitgamefont.bit-game-font.ttf);
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  & ::selection {
    background-color: transparent;
  }
}
:root {
  --bg: #000050;
  --main: #00ff40b3;
  --font: #d3d3d3;

  --gap-base: 0.5rem;
  --cell-size: 40px;
}
body {
  -webkit-tap-highlight-color: transparent;
  text-wrap: pretty;
  min-height: 100svh;
  color: var(--font);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: calc(var(--gap-base) * 4);
  color: var(--font);
  padding: var(--gap-base);
  font-family: 'text';
  font-size: 1.5rem;
  font-weight: bold;
  cursor: default;
  position: relative;
  background-color: var(--bg);
  background-image:
    radial-gradient(
      circle,
      transparent 30%,
      rgba(0, 255, 65, 0.3) 31%,
      transparent 32%
    ),
    radial-gradient(
      circle,
      transparent 50%,
      rgba(0, 255, 65, 0.3) 51%,
      transparent 52%
    ),
    radial-gradient(
      circle,
      transparent 70%,
      rgba(0, 255, 65, 0.3) 81%,
      transparent 72%
    ),
    linear-gradient(
      90deg,
      transparent 49.5%,
      rgba(0, 255, 65, 0.3) 50%,
      transparent 50.5%
    ),
    linear-gradient(
      0deg,
      transparent 49.5%,
      rgba(0, 255, 65, 0.3) 50%,
      transparent 50.5%
    );
}
h1 {
  font-family: 'heading';
  font-weight: lighter;
  font-size: 2.8rem;
  color: var(--main);
}
a {
  align-self: flex-end;
  text-decoration: none;
  color: inherit;
  font-family: system-ui, sans-serif;
  font-size: 0.8rem;
}
main {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'info info info'
    'plr fleet cpu';
  width: 100%;
  place-items: center;
  gap: calc(var(--gap-base) * 4);
}
main > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--gap-base) * 2);
  text-align: center;
}
section#info-container {
  color: var(--main);
  font-size: 2rem;
  grid-area: info;
  min-height: calc(var(--gap-base) * 6);
}
section#plr-container {
  grid-area: plr;
}
section#cpu-container {
  grid-area: cpu;
}
div.board-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(10, auto);
  grid-auto-rows: auto;
  gap: calc(var(--gap-base) / 2);
}
div.board-container > .cell {
  background-color: var(--main);
  aspect-ratio: 1 / 1;
  height: max(2.5vw, calc(var(--gap-base) * 4));
  width: auto;
  border-radius: calc(var(--gap-base) / 2);
  opacity: 0.6;
  & svg {
    fill: var(--font);
  }
  &.hit {
    opacity: .9;
  }
  &.ship {
    opacity: .9;
  }
}
div.fleet-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  gap: calc(var(--gap-base) * 2);
  min-width: 1.5rem;
  grid-area: fleet;
}
div.fleet-container > .ship {
  display: flex;
  justify-content: center;
  aspect-ratio: 1 / 1;
  height: calc(var(--gap-base) * 3);
  width: auto;
  color: var(--font);
  fill: var(--font);
}
svg {
  fill: inherit;
}
.cell.hit {
  background-color: var(--bg) !important;
  border: 2px solid tomato;
}
.cell.miss {
  opacity: 0.3 !important;
}
.cell.ship {
  background-color: var(--bg) !important;
  border: 2px solid var(--main);
}
.cell.inactive {
  cursor: default !important;
}

/* Click & hover effects only on CPU board */
section#cpu-container > div.board-container > .cell:active {
  opacity: 1;
}

@media (hover: hover) {
  section#cpu-container > div.board-container:hover {
    cursor: crosshair;
  }
  section#cpu-container > div.board-container > .cell:not(.hit):hover {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
    grid-template-areas:
      'info'
      'cpu'
      'fleet'
      'plr';
  }
  div.fleet-container {
    flex-direction: row;
    flex-wrap: wrap;
    margin-inline: 10%;
  }
}
